# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
/models/__pycache__/

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# Spyder project settings
.spyderproject
.spyproject

# Data files
training_20180910.zip
plots/
data/
processed_data/
reports/
biobert_ner/dataset/

# IntelliJ files
/annotating-ehr.iml
/.idea/

# Scratch files
Scratch.ipynb
